body {
    padding: 4px;
    background-color: #17a2b8;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }

  #login-form{
    padding: 2px;
    margin-top: 5px;
  }

  .container{
    margin-top: -70px;
  }

  #login-box{
  margin-right: 10px;
  }

  .form-group label{
    color: #333;
  }

  .login-register-container{
    display: flex;
    justify-content: center;
    padding: 4px;
  }

  #login{
    padding: 4px;
    width: 50%;
  }
  