*{
    text-decoration: none;
}
body, h1, h2, h3{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 5px;
}

.header-container{
    max-width: 1300;
    height: auto;
}
.header-subcontainer{
    display: flex;  
    justify-content: space-between;
}

.logo{
    width: 350px;
}

.busqueda-header{
text-align: left;
}

.rd{
    width: 280px;
}

.search-box{
    display: flex;
    flex-wrap: wrap;
}

.search-txt{
    flex: 1;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    border-radius: 5px;
    text-decoration: none;
}
.search-box a{
    padding: 8px 10px;
    font-size: 35px;
    border: none;
    border-radius: 10px;
    color: #001a21;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: center;
    background: lightblue;
    height: 50px; 
}

nav ul{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background: lightblue;
}

nav ul li{
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
}

nav ul li a{
    color: white;
    font-size: 28px;
    padding: 10px;
    text-decoration: none;
}

a.active{
    background: lightseagreen;
    text-decoration: none;
}
a.active:hover{
    text-decoration: none;
    color: white;
}

.item-nav:hover{
    color: rgb(238, 235, 235);
    transition: .5s;
    font-size: 30px;  
}

footer{
    padding: 5px;
}

.footer-container{ 
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-col{
    text-align: center;
}
.center-col{
    text-align: center;
    margin-left: -30px;
}
.right-col{
    text-align: center;
    padding: 15px;
    margin-right: 30px;
}

.social-media{
    width: 300px; 
    margin-left: 40px;
}

.social-media a{
color: #001a21;
margin-right: 30px;
font-size: 40px;
text-decoration: none;
transition: .3s linear;
}

.social-media a :hover{
color: #fc5c65;
font-size: 45px;
}

.escudo-footer{
    width: 70px;    
}

.footer-text{
    margin-bottom: 2px;
}

.nortic{
    width: 300px;
}